---
layout: default
title: Meditate by the book
---
<section class="bg-light-gray padding-two-bottom">
    <div class="container text center">
        <div class="row  justify-content-center">
            <h5 class="alt-font text-deep-pink font-weight-600">Find the book that suits you!</h5>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" align="center">
                <span class="text-medium text-extra-dark-gray alt-font font-weight-600 margin-10px-bottom d-block">Skill Level</span>
                <button type="button" id="beginnerButton" onclick="filterBeginner()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Beginner</button>
                <button type="button" id="advancedButton" onclick="filterAdvanced()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Advanced</button>
            </div>                
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" align="center">
                <span class="text-medium text-extra-dark-gray alt-font font-weight-600 margin-10px-bottom d-block">Approach</span>
                <button type="button" id="theoreticalButton" onclick="filterTheoretical()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Theoretical</button>
                <button type="button" id="practicalButton" onclick="filterPractical()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Practical</button>                    
            </div>              
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" align="center">
                <span class="text-medium text-extra-dark-gray alt-font font-weight-600 margin-10px-bottom d-block">Outlook</span>
                <button type="button" id="secularButton" onclick="filterSecular()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Secular</button>
                <button type="button" id="spiritualButton" onclick="filterSpiritual()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Spiritual</button>                    
            </div>               
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" align="center">
                <span class="text-medium text-extra-dark-gray alt-font font-weight-600 margin-10px-bottom d-block">Affiliation</span>
                <button type="button" id="openButton" onclick="filterOpen()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Open</button>
                <button type="button" id="sectarianButton" onclick="filterSectarian()" class="btn btn-primary btn-very-small btn-dark-gray margin-five-all width-80" data-toggle="button" aria-pressed="false" style="padding-right:0px;padding-left:0px">Sectarian</button>                    
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</section>
<section class="padding-two-all">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-centered" align="center">
                <div class="table-responsive overflow-hidden">
                    <table id="bookResults" class="table display">
                        <thead>
                            <tr>
                                <th scope="col" style="width:25%">Cover</th>
                                <th scope="col" style="width:75%">Info</th>
                                <th>Skill Level</th>
                                <th>Approach</th>
                                <th>Outlook</th>
                                <th>Affiliation</th>
                            </tr>
                        </thead>
                        <tbody>                    
                            {% for book in site.books %}
                                <tr>
                                    <td>
                                        <img src="{{ baseurl }}/assets/images/bookcovers/{{ book.book_cover_image }}"/> 
                                    </td>
                                    <td>                             
                                        <p><b>Title:</b> <a href="{{ book.url }}">{{ book.book_title }}</a></p>
                                        <p><b>Author:</b> {{ book.author }} (read more about the author)</p>
                                        <p><b>Release Date:</b> {{ book.publish_date }}</p>
                                        <p><a href="{{ book.url }}" class="btn btn-primary btn-sm">Is it for me?</a></p>
                                    </td>
                                    <td>{{ book.skill_level }}</td>
                                    <td>{{ book.approach }}</td>
                                    <td>{{ book.outlook }}</td>
                                    <td>{{ book.affiliation }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
    </div>  
</section>
<section class="bg-light-gray padding-two-all wow fadeIn">
    <div class="container">
        <div class="row  justify-content-center">
            <h5 class="alt-font text-deep-pink font-weight-600">Latest Reviews</h5>
        </div>
        <div class="row blog-post-style4 justify-content-center">
            <div class="col-10 col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
                <ul class="blog-grid blog-3col gutter-large">
                    <li class="grid-sizer"></li>                    
                    {% for book in site.books limit:3 %}
                    <!-- start post item -->
                    <li class="grid-item wow fadeInUp">
                        <figure>
                            <div class="blog-img bg-extra-dark-gray">
                                <a href="{{ book.url }}"><img src="{{ baseurl }}/assets/images/bookcovers/{{ book.book_cover_image }}" alt="" ></a>
                            </div>
                            <figcaption>
                                <div class="portfolio-hover-main text-left">
                                    <div class="blog-hover-box align-bottom">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">by <a href="blog-classic.html" class="text-medium-gray">{{ book.author }} (falta link)</a></span>
                                        <h6 class="alt-font d-block text-white-2 font-weight-600 mb-0"><a href="{{ book.url }}" class="text-white-2 text-deep-pink-hover">{{ book.book_title_short }}</a></h6>
                                        <p class="text-medium-gray margin-10px-top blog-hover-text">{{ book.first_blockquote}}</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end post item -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-white padding-two-all wow fadeIn">
    <div class="container-flex">
        <div class="row justify-content-center">
            <h5 class="alt-font text-deep-pink font-weight-600">Popular Books</h5>
        </div>
        <div class="row blog-post-style4 justify-content-center">
            <div class="col-10 col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
                <ul class="blog-grid blog-3col gutter-large">
                    <li class="grid-sizer"></li>                    
                    {% for book in site.books limit:3 %}
                    <!-- start post item -->
                    <li class="grid-item wow fadeInUp">
                        <figure>
                            <div class="blog-img bg-extra-dark-gray">
                                <a href="{{ book.url }}"><img src="{{ baseurl }}/assets/images/bookcovers/{{ book.book_cover_image }}" alt="" ></a>
                            </div>
                            <figcaption>
                                <div class="portfolio-hover-main text-left">
                                    <div class="blog-hover-box align-bottom">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">by <a href="blog-classic.html" class="text-medium-gray">{{ book.author }} (falta link)</a></span>
                                        <h6 class="alt-font d-block text-white-2 font-weight-600 mb-0"><a href="{{ book.url }}" class="text-white-2 text-deep-pink-hover">{{ book.book_title_short }}</a></h6>
                                        <p class="text-medium-gray margin-10px-top blog-hover-text">{{ book.first_blockquote}}</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <!-- end post item -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>