<footer class="footer-modern-dark bg-extra-dark-gray padding-five-tb sm-padding-30px-tb">
    <div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
        <div class="container">
            <div class="row align-items-center border-top padding-40px-top sm-padding-30px-top">
                <!-- start slogan -->
                <div class="col-lg-4 text-center text-md-left md-margin-three-bottom sm-margin-20px-bottom">
                    <h6 class="text-dark-gray width-70 lg-width-100 no-margin-bottom">Because no two meditators follow the same path and not all books are created equal.</h6>
                </div>
                <!-- end slogan -->
                <!-- start contact information -->
                <div class="col-lg-4 col-md-6 text-center text-md-center sm-margin-20px-bottom">
                    <a href="mailto:contactus@meditatebythebook.com">contactus@meditatebythebook.com</a>
                </div>
                <!-- end contact information -->
                <div class="col-lg-4 col-md-6 social-style-2 text-center text-md-right">
                    <!-- start logo -->
                    <a href="index.html"><img class="footer-logo" src="{{ baseurl }}/assets/images/LolaVerdeLogo2.png" data-rjs="{{ baseurl }}/assets/images/LolaVerdeLogo2.png" alt="Lola Verde"></a>
                    <!-- end logo -->
                    <!-- start social media -->
                    <div class="icon-social-large display-inline-block line-height-normal">
                        <a href="https://www.facebook.com/Serious-Buddha-824676241241050" title="Facebook" target="_blank" class="text-link-white-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/serious_buddha" title="Instagram" target="_blank" class="text-link-white-2"><i class="fab fa-instagram"></i></a>
                    </div>
                    <!-- end social media -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom border-color-extra-light-gray border-top padding-40px-top sm-padding-30px-top">
            <div class="row align-items-center">
                <!-- start copyright -->
                <div class="col-md-12 text-md-left text-center text-small">&copy; 2019 Meditate by the book</div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>