<header class="header-with-topbar"> 
    <!-- topbar -->
    <div class="top-header-area bg-deep-pink padding-10px-tb">
        <div class="container">
            <div class="row align-items-center">
                <div class="text-white col-md-6 alt-font d-flex align-items-center justify-content-center justify-content-md-start">
                    No two paths are the same; find your own.
                </div>
                <div class="col-md-6 d-none d-md-flex align-items-center justify-content-end">
                    <div class="icon-social-very-small display-inline-block line-height-normal">
                        <a href="https://www.facebook.com/Serious-Buddha-824676241241050" rel="noreferrer"` title="Facebook" target="_blank" class="text-link-white-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/serious_buddha" rel="noreferrer"` title="Instagram" target="_blank" class="text-link-white-2"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end topbar -->  
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-top header-light-transparent background-transparent nav-box-width navbar-expand-lg">    
        <div class="container-fluid nav-header-container">
            <!-- start logo -->
            <div class="col-auto pl-lg-2">
                <a href="{{ baseurl }}/index.html" title="MBTB" class="logo">
                    <img src="{{ baseurl }}/assets/images/Logo.png" style="max-height:60px;" alt="Meditate by the Book Logo" class="logo-light default">
                </a>
            </div>
            <!-- end logo -->
            <div class="col accordion-menu pr-0 pr-md-3">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                    <ul class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                        <!-- start menu item -->
                        <li><a href="/{{ baseurl }}" class="inner-link">Books</a></li>
                        <!-- end menu item -->
                        <!-- start menu item -->
                        <li><a href="{{ baseurl}}/authors" class="inner-link">Authors</a></li>
                        <!-- end menu item -->
                        <!-- start menu item -->
                        
                        <li><a href="{{ baseurl}}/articles" class="inner-link">Articles</a></li>
                        <!-- end menu item -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->   
</header>