<aside class="col-12 col-lg-3 float-right">
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Join our book club!</span></div>
            <div class="d-inline-block width-100">
                <form>
                    <div class="position-relative">
                        <input type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Enter your email...">
                        <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope ml-0"></i></button>
                    </div>   
                </form>
            </div>
        </div>
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>About Us</span></div>
            <img src="{{ baseurl }}/assets/images/aboutUsSidebar.jpg" alt="" class="margin-25px-bottom"/></a>
            <p class="margin-20px-bottom text-small">We are a non-affiliated meditation center located in Massachusetts and formed by people from all different kinds of backgrounds, practices, and nationalities.</p>
        </div>
        <div class="margin-50px-bottom">
            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Our Buddha Page</span></div>
            <div class="social-icon-style-1 text-center">
                <ul class="extra-small-icon">
                    <li><a class="facebook" href="https://www.facebook.com/Serious-Buddha-824676241241050" rel="noreferrer"` target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="instagram" href=https://instagram.com/serious_buddha rel="noreferrer"` target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
            <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
            <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">No gift is greater than this life that was given to us; through meditation, we come to really fully it.</span>
        </div>
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular books</span></div>
            <ul class="latest-post position-relative">            
                {% for post in site.posts limit:4 %}
                <li class="media">
                    <figure>
                        <a href="{{ post.url }}"><img src="{{ baseurl }}/assets/images/bookcovers/{{ post.book_cover_image }}" alt=""></a>
                    </figure>
                    <div class="media-body text-small"><a href="{{ post.url }}" class="text-extra-dark-gray"><span class="d-inline-block margin-5px-bottom">{{ post.book_title }}</span></a> <span class="d-block text-medium-gray text-small">{{ post.date | date: '%B %d, %Y' }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>