<aside class="col-12 col-lg-3 float-right">
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Join our book club!</span></div>
            <div class="d-inline-block width-100">
                <form>
                    <div class="position-relative">
                        <input type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Enter your email..." aria-label="subscribe to newsletter">
                        <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope ml-0"></i></button>
                    </div>   
                </form>
            </div>
        </div>
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>About Us</span></div>
            <img src="{{ baseurl }}/assets/images/bookcovers/350x500.svg" data-src="{{ baseurl }}/assets/images/aboutUsSidebar.jpg" alt="meditation center image" class="margin-25px-bottom"/></a>
            <p class="margin-20px-bottom text-small">We are a non-affiliated meditation center located in Massachusetts, formed by people from all different kinds of backgrounds and practices.</p>
        </div>
        <div class="margin-50px-bottom">
            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Our Buddha Page</span></div>
            <div class="social-icon-style-1 text-center">
                <ul class="extra-small-icon">
                    <li><a class="facebook" href="https://www.facebook.com/Serious-Buddha-824676241241050" rel="noreferrer"` target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="instagram" href=https://instagram.com/serious_buddha rel="noreferrer"` target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
            <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
            <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">No gift is greater than this life that was given to us; through meditation, we come to fully  appreciate it.</span>
        </div>
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular books</span></div>
            <ul class="latest-post position-relative">            
                {% for book in site.books limit:4 %}
                <li class="media">
                    <figure>
                        <a href="{{ book.url }}"><img src="{{ baseurl }}/assets/images/bookcovers/350x500.svg" data-src="{{ baseurl }}/assets/images/bookcovers/{{ book.book_cover_image }}" alt="{{ book.book_title }} cover image"></a>
                    </figure>
                    <div class="media-body text-small"><a href="{{ book.url }}" class="text-extra-dark-gray"><span class="d-inline-block margin-5px-bottom">{{ book.book_title }}</span></a> <span class="d-block text-medium-gray text-small">{{ book.date | date: '%B %d, %Y' }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="margin-45px-bottom sm-margin-25px-bottom">
            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular authors</span></div>
            <ul class="latest-post position-relative">            
                {% for author in site.authors limit:4 %}
                <li class="media">
                    <figure>
                        <a href="{{ author.url }}"><img src="{{ baseurl }}/assets/images/bookcovers/350x500.svg" data-src="{{ baseurl }}/assets/images/authors/{{ author.author_image }}" alt=""></a>
                    </figure>
                    <div class="media-body text-small"><a href="{{ author.url }}" class="text-extra-dark-gray"><span class="d-inline-block margin-5px-bottom">{{ author.author_name }}</span></a> <span class="d-block text-medium-gray text-small"><i>"{{ author.short_quote }}"</i></span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="margin-45px-bottom sm-margin-25px-bottom">
                <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular magazines</span></div>
                <ul class="latest-post position-relative">   
                    <li class="media justify-content-center">
                        <a target="_blank"  href="https://www.amazon.com/gp/product/B002LUDBNU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002LUDBNU&linkCode=as2&tag=meditatebythebook-20&linkId=c208a28cd199ef05da8f15289c85ac68"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B002LUDBNU&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=meditatebythebook-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=meditatebythebook-20&l=am2&o=1&a=B002LUDBNU" width="1" height="1" border="0" alt="magazine subscription image" style="border:none !important; margin:0px !important;" />
                    </li>
                    <li class="media justify-content-center">
                        <a target="_blank"  href="https://www.amazon.com/gp/product/B002PXW19I/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002PXW19I&linkCode=as2&tag=meditatebythebook-20&linkId=c86709c28695f88b8d7337ce27ebe831"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B002PXW19I&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=meditatebythebook-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=meditatebythebook-20&l=am2&o=1&a=B002PXW19I" width="1" height="1" border="0" alt="magazine subscription image" style="border:none !important; margin:0px !important;" />
                    </li>
                    <li class="media justify-content-center">
                        <a target="_blank"  href="https://www.amazon.com/gp/product/B00006L06M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00006L06M&linkCode=as2&tag=meditatebythebook-20&linkId=b414f5bb053a6de94bc03e1c2551471f"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00006L06M&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=meditatebythebook-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=meditatebythebook-20&l=am2&o=1&a=B00006L06M" width="1" height="1" border="0" alt="magazine subscription image" style="border:none !important; margin:0px !important;" />
                    </li>
                </ul>
            </div>
    </aside>